.add
    width: 44vw
    height: 30vh
    padding: 0 1vw 0 1vw
    margin: 20px 2vw 0 2vw
    background-color: lightblue
    border-radius: 8px
    .form-container
        width: 98%
        height: 95%
        border-radius: 8px
        .upper-part
            height: 80%
            .text-container
                width: 68%
                height: 95%
                textarea
                    width: 100%
                    height: 100%
                    border-radius: 8px
                    padding: 3px
                    border: none
                    outline: none
                    color: #2d3030
                    letter-spacing: 1px
                    font-size: 13px

            .choose-file-container
                width: 28%
                height: 95%
                margin-left: 2%
                select
                    width: 95%
                    height: 5vh
                    background-color: #183a52
                    color: white
                    border-radius: 8px
           

        .add-btn-container
            width: 100%
            height: 20%
            align-items: center
            button 
                width: 20%
                height: 80%
                background-color: #183a52
                color: white
                border-radius: 8px

        