.header 
    background-color: #183a52
    position: relative
    height: 8vh
    width: 100%

    a
        text-decoration: none
    
    h1
        color: white
        cursor: pointer

    .icon-container-left
        position: absolute
        left: 4%
        img
            height: 60px
            width: 60px
            margin-left: 24px
            cursor: pointer

    .icon-container-right
        position: absolute
        right: 4%
        img
            height: 45px
            width: 45px
            margin-left: 24px
            cursor: pointer
    