.search
    width: 44vw
    height: 82vh
    padding: 0 1vw 0 1vw
    margin: 20px 2vw 0 2vw
    background-color: #5c88cc
    border-radius: 8px
    .search-content
        width: 95%
        height: 95%
        .input-field
            height: 15%
            width: 100%
            .input-search
                height: 20px
                width: 100%
                border: 1px solid black
                font-style: normal
                font-size: 23px
                line-height: 120%
                color: white
                background-color: #3468EB
                min-width: 200px
                min-height: 60px
                border-radius: 10px
                color: #5988ff
                outline: none

        .results
            height: 85%
            width: 100%
            border-radius: 8px
            background-color: white