.search
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: calc(100vh - 8vh)
    margin: 20px 0 0 0
    background-color: #141414
    
    .search-content
        width: 96%
        height: 96%
        border-radius: 8px

        .results
            height: 85%
            width: 100%
            border-radius: 8px
            background-color: white