.voice 
    width: 38vw
    height: 30vh
    padding: 0 4vw 0 4vw
    margin: 20px 2vw 0 2vw
    background-color: lightblue
    border-radius: 8px
    .speech-to-txt
        background-color: #183a52
        border-radius: 8px
        width: 160px
        height: 45px
        color: white
        cursor: pointer

    .textresult
        width: 38vw
        height: 20vh
        background-color: white
        border-radius: 8px
    