.voice
    width: 90vw
    height: 30vh
    margin: 20px 2vw 0 2vw
    background-color: #141414
    border-radius: 8px
    border: 1px solid #b1b3bd
    .form-container
        display: flex
        width: 95%
        height: 92%

        .text-container
            width: 70%
            height: 100%
            .textresult
                width: 99%
                height: 99%
                border-radius: 8px
                background-color: #b1b3bd

        .button-container
            display: flex
            flex-direction: column
            width: 30%
            height: 20%
            .button-container-first
                display: flex
                .choose-file-container
                    select
                        border: 1px solid black
                        background-color: white
                        color: black
                        transform: scale(1)
                        option
                            color: black
                            border: 1px solid black
                            background-color: white
                            transform: scale(1)

                .submit-btn-container
                    margin-left: 20px
                    button
                        color: black
                        border: 1px solid black
                        background-color: white

            .button-container-second
                display: flex
                flex-direction: column
                margin-top: 30px
                .speech-btn-container
                    button
                        color: black
                        border: 1px solid black
                        background-color: white
                        &:first-child
                            margin-top: 10px
                            

    @media only screen and (max-width: 600px)
        height: 60vh !important
        margin: 20px 2vw 0 2vw
        .form-container
            flex-direction: column
            height: 95% !important

            .text-container
                width: 100% !important
                height: 50% !important
                textarea
                    width: 97% !important
                    height: 97% !important

            .button-container
                flex-direction: column
                justify-content: center
                align-items: center
                width: 100% !important
                height: 50% !important
                .button-container-first
                    display: flex
                    flex-direction: column
                    .choose-file-container
                        select
                            min-height: 0px !important
                            margin: 2px 0 !important
                            option
                                min-height: 0px !important

                    .submit-btn-container
                        margin-left: 0px !important
                        button
                            min-height: 0px !important
                            margin: 2px 0 !important
                            min-width: 219px !important

                .button-container-second
                    margin-top: 10px !important
                    .speech-btn-container
                        margin-left: 0px !important
                        button
                            min-height: 0px !important
                            margin: 2px 0 !important
                            min-width: 219px !important
                            &:first-child
                                margin-top: 5px !important
