.upload-container
    width: 90vw
    height: 30vh
    margin: 20px 2vw 0 2vw
    background-color: #141414
    border-radius: 8px
    border: 1px solid #b1b3bd
    margin-bottom: 50px
    .form-container
        display: flex
        width: 95%
        height: 95%

        .draganddropfield
            width: 70%
            height: 100%
            background-color: #b1b3bd
            border-radius: 8px

        .file-upload-form
            display: flex
            width: 30%
            height: 100%
            padding-top: 20px
            .choose-file-container
                // width: 99%
                // height: 99%
                border-radius: 8px
                input
                    border: 1px solid black
                    background-color: white
                    color: black
                    margin-left: 10px

            .submit-btn-container
                margin-left: 10px
                button
                    border: 1px solid black
                    background-color: white
                    color: black

    @media only screen and (max-width: 600px)
        height: 60vh !important
        margin-bottom: 50px
        .form-container
            flex-direction: column
            height: 95% !important

            .draganddropfield
                width: 100% !important
                height: 70% !important

            .file-upload-form
                padding-top: 0px !important
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                width: 100% !important
                height: 30% !important
                .choose-file-container
                    // width: 99%
                    // height: 99%
                    border-radius: 8px
                    input
                        min-height: 0px !important
                        margin: 2px 0 !important
                        min-width: 219px !important
                        max-width: 219px !important

                .submit-btn-container
                    margin-left: 0px !important
                    button
                        min-height: 0px !important
                        margin: 2px 0 !important
                        min-width: 241px !important
