.wrapper
    width: 100%
    position: relative
    .kanban-board
        width: 96%
        display: flex
        .column 
            width: 25%
            min-width: 150px
            .column-header
                width: 100%
                padding: 10px
                border: 1px solid #ccc
                box-sizing: border-box
                display: flex
                justify-content: space-between
                align-items: center
                img
                    height: 28px
                    width: 28px
                    object-fit: cover

            .column-content
                height: 85vh
                width: 100%
                padding: 10px
                border: 1px solid #ccc
                box-sizing: border-box
    
    
       
            

