.file-wrapper 
    height: 90vh
    width: 70%
    background-color: #b1b3bd
    .file-settings
        display: flex
        justify-content: space-between
        align-items: center
        .file-name-container
            margin-left: 15px
            h1
                font-size: 27px

        .file-edit
            margin-right: 4%
            img
                height: 45px
                width: 45px
                &:hover
                    cursor: pointer
       


    