.wrapper
    width: 100%
    .file-wrapper 
        height: 90vh
        width: 70%
        background-color: lightblue
        .file-name-container
            margin-left: 15px
            h1
                font-size: 27px

        .file-content-container
            height: 80vh
            width: 80%
            background-color: #F6F8FA
            margin-left: 15px


    