.wrapper
    width: 100%
    .projects 
        padding-top: 24px
        background-color: #ADD8E6
        height: 80vh
        width: 80%
        display: flex
        flex-wrap: wrap
        .create-card
            width: 16%
            height: 17vh
            border: 1px solid black
            border-radius: 8px
            margin: 0 10px 0 10px
            flex-direction: column
            p   
                color: white
                font-size: 22px
            div
                button
                    min-width: 80px
                    min-height: 30px
                    margin: 0 8px 0 8px

        .project-card
            width: 16%
            height: 17vh
            border: 1px solid black
            border-radius: 8px
            margin: 0 10px 0 10px
            flex-direction: column
            .card-header
                h3
                    color: white
                    font-size: 22px

            .card-actions
                button
                    min-width: 80px
                    min-height: 30px
                    margin: 0 8px 0 8px


.overlay-content
    width: 25%
    height: 30vh
    border: 1px solid black
    border-radius: 8px
    margin: 0 10px 0 10px
    flex-direction: column
    p
        color: white
        font-size: 22px

    input
        border-radius: 6px
        font-size: 21px
        line-height: 120%
        min-width: 80px
        min-height: 30px
        outline: none
        border: none
        letter-spacing: 1px

    button
        margin: 18px 0 0 0
        min-width: 80px
        min-height: 30px
